@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dot-matrix display font */
@font-face {
  font-family: 'DotMatrix';
  src: url('/fonts/pinside-dotmatrix-webfont.woff2') format('woff2'),
       url('/fonts/pinside-dotmatrix-webfont.woff') format('woff'), 
       url('/fonts/pinside-dotmatrix-webfont.ttf')   format('truetype'); /* fallback for older Safari/iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* avoids “flash of invisible text” */
}

html,
body {
  @apply bg-neutral-900 text-neutral-100 font-sans antialiased;
}
